.center {
  display: block;
  margin-left: auto;
  margin-right: 25%;
  width: 50%;
}

h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1;
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* style box for h1 area */
.page-top {
    background-color: whitesmoke;
    width: 100%;
}

/* navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navBar {
    background-color: black;
    overflow: hidden;
}

.navBar a {
    color: white;
    display: box;
    float: left;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar a:hover {
    background-color: white;
    color: blueviolet;
}

.active {
    background-color: blueviolet;
    color: white;
}

/* line under divs */
.underline {
    border-color: grey;
    border-style: hidden hidden solid hidden;
}

/* rounded bottom border */

.rounded {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* container for paragraphs */
.p-box {
    border-color: rgb(0, 0, 0);
    border-style: hidden;
    margin-left: 25%;
    margin-right: auto;
    padding: 20px;
    width: 30%;
}

.grey-text {
    color: grey;
}

img.right {
    float: right;
    margin-right: 25%;
    padding: 10px;
    width: 20%;
}

/* selector adds padding above element */
.down-shifted {
    padding-top: 40px;
    overflow: auto;
}

/* selectors for project experience visual */

div.wide-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

div.experience-box {
    border-radius: 10px;
    border-style: solid;
    border-top-color: black;
    margin-top: 20px;
    width: 50%;
}

div.experience-text {
    text-align: center;
}

div.experience-box img {
    margin-left: 10%;
    margin-right: auto;
    max-width: 80%;
    padding: 10px;
}



/* gallery stylers */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    padding: 0 4px;
}

.column {
    flex: 50%;
    padding: 4px;
}

.column img {
    margin-top: 8px;
    max-width: 33%;
    vertical-align: middle;
}

/* Hobbie and project */
div.content {
    border-style: solid;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

div.captioned-image {
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right:auto;
    width: 100%;
}

div.captioned-image img {
    max-width: 100%;
}

div.caption {
    padding: 10px 20px;
    text-align: center;
}

/* comments styles */

#comments-container {
    margin: 120px auto 0px;
    width: 50%;
}

#comments-container h4 {
    padding-bottom: 20px;
}

/* Comment Loader Button Styles */

#show-comments-div {
    margin-bottom: 40px;
}

#show-comments-div form {
    margin: auto;
    width: 250px;
}

#show-comments-div * {
    box-sizing: border-box;
    display: flex;
    font-size: 16px;
}


#show-comments-div input[type="button"] {
    border-style: none;
    background-color: blueviolet;
    color: white;
    float: left;
    padding: 20px;
    width: 70%;
}

#show-comments-div input[type="number"] {
    background-color: blueviolet;
    border-style: none;
    color: white;
    flex-grow: 1;
    padding: 20px;
    width: 30%;
}

#delete-button {
    margin-top: 80px;
    text-align: center;
}

#delete-button input[type="button"] {
    background-color: blueviolet;
    border-style: none;
    color: white;
    padding: 10px;
}

#comment-box textarea {
    height: 40px;
    width: 100%;
}

#comment-box input[type="submit"] {
    background-color: blueviolet;
    border-style: none;
    color: white;
    float: right;
    padding: 10px;
    width: 100px;
}

#comments-container input[type="button"]:hover {
    cursor: pointer;
}

#comments-container input[type="submit"]:hover {
    cursor:pointer;
}

a.hyperlink {
    color: hotpink;
}